configuration {
    font: "Monaco 12";
    kb-primary-paste: "Control+v,Shift+Insert";
    kb-secondary-paste: "Control+Shift+v";
    matching: "fuzzy";
    cycle: true;
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}
